/* COMMON CSS */

body {
    margin: 0 auto;
    background-color: #F4E8DD;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border-radius: 2rem;
    background-color: #F36526;
    color: white;
    border: 2px solid #F36526;
    filter: drop-shadow(3px 3px 3px lightgray);
    transition: all 200ms;
}

button:hover, button:focus {
    background-color: white;
    color: #FBBD03;
    border: 2px solid #FBBD03;
}



/* HEADER & NAV BAR */

header {
    background-color: #F7911D;
    color: white;
}

header p {
    font-family: 'League Spartan', sans-serif;
    font-size: 26px;
    display: inline-block;
    margin: 1.25rem;
    max-width: 200px;
    line-height: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav {
    font-family: 'Poppins', sans-serif;
}

nav a:hover, nav a:focus {
    text-decoration: underline;
}



/* FOOTER */

footer {
    background-color: #F7911D;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer h2 {
    font-size: 26px;
}



/* HOME PAGE */

.home-main {
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    justify-items: center;
    align-items: center;
    margin: 5% 7.5%;
    grid-gap: 2rem;
}

.home-logo {
    grid-area: a;
    filter: drop-shadow(10px 10px 10px white);
}

.home-about {
    grid-area: b;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home-about h1 {
    filter: drop-shadow(3px 3px 3px lightgray);
}

.home-join {
    grid-area: d;
    text-align: center;
    padding-bottom: 1rem;
}

.home-join h1 {
    filter: drop-shadow(3px 3px 3px lightgray);
}

.join-buttons {
    margin: 0.6rem;
}

.home-img {
    grid-area: c;
}



/* CONTACT FORM */

.contact-main {
    display: grid;
    align-items: center;
    margin: 2rem 7.5% 1rem 7.5%;
    grid-gap: 2rem;
}

form {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px lightgray);
}

input {
    border: 2px solid black;
    width: 100%;
    height: 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 5px;
    transition: all 100ms;
}

input:hover, input:focus {
    border-color: #FBBD03;
    outline: none;
}

textarea {
    border: 2px solid black;
    width: 100%;
    height: 6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 5px;
    transition: all 100ms;
}

textarea:hover, textarea:focus {
    border-color: #FBBD03;
    outline: none;
}

#submit {
    border: none;
    font-family: 'Poppins', sans-serif;
    height: 2.75rem;
    border-radius: 2rem;
    background-color: #F36526;
    color: white;
    border: 2px solid #F36526;
    transition: all 200ms;
}

#submit:hover, #submit:focus {
    background-color: white;
    color: #FBBD03;
    border: 2px solid #FBBD03;
}



/* EVENT PAGE */

.event-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8%;
}
 

.event-intro-text {
     display: flex;
     text-align: center;
}
 
.event-logo-box {
     display: flex;
     flex-direction: column;
     padding-bottom: 30px;
     align-content: space-between;
}
 
.event-logo {
     width: 40%;
     align-self: center;
 
}
 
.content-area-break {
     margin: 8%;
     padding: 2px;
     background-color: #F7911D;
}
 

.events-box {
     margin: 8%;
}
 
.events-box p {
     text-align: left;
}
 
.text-box {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}
 

.three {
     padding-bottom: 30px;
}
 
.events-button {
     margin: 8%;
     display: flex;
     justify-content: center;
     align-content: center;
}



/* ABOUT SECTION */

.about-main {
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    justify-items: center;
    align-items: center;
    margin: 5% 7.5%;
    grid-gap: 2rem;
}

.about-main-about {
    grid-area: a;
}

.about-main-E-board {
    grid-area: b;
}

.about-main-E-board2 {
    grid-area: c;
}

.about-main-E-board3 {
    grid-area: d;
}


/* MEDIA QUERY */

@media screen and (min-width: 768px) {

    /* Header */

    header {
        display: flex;
    }

    /* Home Page */

    .home-main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "a b"
        "d c";
    }

    /* Contact */
    
    .contact-main {
        grid-template-columns: 1fr 1fr;
    }

    /* Events */

    .event-intro {
        flex-direction: row;
    }

    .event-intro-text {
        font-size: 45px;
    }

    .event-logo-box {
        padding: 0px;
        padding-right: 20px;
    }

    .event-logo {
        width: 60%;
    }

    .text-box {
        flex-direction: row;
        justify-content: space-between;
    }

    .text {
        order: 1;
        width: 100%;
        padding-right: 30px;
    }

    .events-box-imgs {
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%
    }
}